<link rel="stylesheet" type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
<div class="row">
  <div class="col-sm-9 panel">
    <div class="panel panel-default">
      <h6 class="text-right">Cribs Listings</h6>
      <div class="panel-body">
        <div class="col-sm-3">
          <label for="sort-field">Sort By</label>
          <select 
            class="form-control" 
            name="sort-field" 
            id="sort-field" 
            [(ngModel)]="sortField">
            <option 
              *ngFor="let field of sortFields" 
              [value]="field">
                {{ utilService.capitalize(field) }}
              </option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="sort-direction">Sort Direction</label>
          <div>
            
            <button 
              class="btn btn-primary"
              [ngClass]="{'btn-success': sortDirection == 'asc'}"
              (click)="sortDirection = 'asc'">
                Asc
            </button>

            <button
              class="btn btn-primary"
              [ngClass]="{'btn-success': sortDirection == 'desc'}"
              (click)="sortDirection = 'desc'">
                Desc
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let crib of cribs">
      <jhi-crds [crib]="crib" class="col-md-2"></jhi-crds>
  </div>
  <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
</div>
  
<!--<div *ngFor="let crib of cribs">
  
  <jhi-crds [crib]="crib" class="col-sm-3"></jhi-crds>
</div>-->
<!--<div class="btn-group flex-btn-group-container">
    <button type="submit"
            [routerLink]="['../cribs', cribs.id ]"
            class="btn btn-info btn-sm">
        <span class="fa fa-eye"></span>
        <span class="d-none d-md-inline">Add</span>
    </button>
    <button type="submit"
            [routerLink]="['/', { outlets: { popup: 'cribs/'+ cribs.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary btn-sm">
        <span class="fa fa-pencil"></span>
        <span class="d-none d-md-inline">View</span>
    </button>
    <button type="submit"
            [routerLink]="['/', { outlets: { popup: 'cribs/'+ cribs.id + '/delete'} }]"
            replaceUrl="true"
            class="btn btn-danger btn-sm">
        <span class="fa fa-remove"></span>
        <span class="d-none d-md-inline">Delete</span>
    </button>
</div>-->

